@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #414150;
  color: #efffff;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- NAV --- */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #212332;
  font-size: 1.1rem;
  z-index: 1;
}

.sticky {
  position: sticky;
  top: 0;
}

.nav {
  align-self: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav > li {
  display: flex;
  align-items: center;
  text-align: center;

  list-style: none;
  min-width: 5rem;
  height: 2rem;
}

.nav > li > a {
  width: 100%;
  text-align: center;
  color: #c8cccd;
  transition: 0.5s;
}

.nav > li > a:hover {
  color: #3bcbca;
}

.navbar-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  align-self: center;

  color: #e2e7e8;
}

/* --- HEADER --- */
header {
  width: 100%;
}

/* --- MAIN --- */
main {
  width: 100%;
  height: 100%;
  background-color: #161922;
  padding-top: 10%;
}

/* --- HEADER --- */
.header-title {
  width: 100%;
  height: 12rem;
  display: grid;
  grid-template-rows: 60% 20%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.header-title h2 {
  font-size: 3rem;
  color: #ececec;
  text-shadow: 2px 4px 10px black;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.header-title p {
  font-size: 1rem;
  color: #b3b3b3;
  text-shadow: 1px 2px 5px black;
  font-family: "Roboto", sans-serif;
}

.header-categories {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.header-categories > li,
.header-categories > li > a {
  width: 100%;
  height: 100%;
}

.header-categories > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbfc0;
}

.header-categories > li > a:hover {
  color: #bda900;
  background-color: rgb(0, 38, 88, 0.15);
}

/* --- ARTICLES LIST --- */
.articles-list {
  width: 40%;
  margin: 0 auto;

  display: grid;
}

.articles-list > h2 {
  text-transform: uppercase;
}

.articles-list > h2,
.articles-list > article {
  margin-bottom: 10%;
}

.articles-list > article {
  border-top: 0.0625rem solid #3bcdd1;
  border-radius: 0.4rem;
  padding-top: 1.7rem;
}

.articles-list > article .article-content {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.articles-list > article .article-content img {
  width: 100%;
  height: 22vw;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  filter: grayscale(60%);
}

.articles-list > article .article-content h2 {
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid rgb(65, 66, 66);
  transition: 0.25s;
}

.articles-list > article .article-content a:hover h2 {
  color: #3bcbca;
}

.articles-list > article .article-content p {
  color: #b5c8d1;
}

/* --- PAGINACION --- */
.pagination-container {
  margin-top: 5%;
  margin-bottom: 10%;
  font-weight: 400;
}

.pagination {
  width: 100%;
  border-top: 0.1rem solid rgb(133, 133, 133);
  border-bottom: 0.1rem solid rgb(133, 133, 133);

  display: flex;
  justify-content: flex-end;
}

.pagination span:first-child {
  color: #b5c8d1;
  margin-right: 5%;
}

.pagination span a {
  padding-right: 0.5rem;
  color: #3e92b3;
}

.pagination span a:first-of-type,
.pagination .active {
  font-weight: 500;
  color: #bbba39;
}

/* --- FOOTER --- */
footer {
  background-color: #0c1122;
  height: 18rem;
  color: #c8cccd;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.footer-help li:first-child {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10%;
}

.footer-help li a:hover {
  color: #2c8f8f;
}
